html, body{
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #272727;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid orange;  
}

.bold{
  font-weight: bold;
}